.btn{
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    max-width: 280px;
    background: #ffffff;
    position: relative;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn-transperent{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
    }

    .icon{
        position: relative;
        top: -1px;
        margin-right: 10px;
    }
    
    &:hover{
        opacity: 1;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &:active{
        outline: none;
        background: #ffffff;
        border: 1px solid #c22323;
        box-shadow: none;
        opacity: .7;
    }
    &.btn-primary{
        background: linear-gradient(180deg, #FFCF23 0%, #FF9900 100%);
        box-shadow: 0px 0px 16px #FFCF23;
        border-radius: 53px;
        color: #ffffff;
        border: none;
        height: 70px;
        font-size: 20px;
        max-width: 350px;
        width: 100%;
        &:hover{
            opacity: .9;
        }
        &:active{
            outline: none !important;
            background: linear-gradient(180deg, #FFCF23 0%, #FF9900 100%) !important;
            box-shadow: 0px 0px 16px #FFCF23 !important;
            opacity: .7 !important;
        }
    }

    &.btn-outline-white{
        border: 2px solid #FFFFFF;
        border-radius: 53px;
        background: none;
        color: #fff;
        box-sizing: border-box;
    }

    &.sm{
        min-width: 120px;
        width: auto;
        font-size: 14px;
        height: 38px;
    }
}


.input{
    background: #f3f8fb;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 20px 30px;
    outline: none;
    width: 100%;
    position: relative;

    &::placeholder{
        font-size: 15px;
    }

}